<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array/>
	<dict>
		<key>Fields</key>
		<array>
			<string>field.png</string>
			<string>fieldwithmarkup.png</string>
			<string>ditch.png</string>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Templar - Team A</string>
		<key>Group</key>
		<string></string>
		<key>Juggers</key>
		<array>
			<dict>
				<key>Name</key>
				<string>Jackal</string>
				<key>Weapon</key>
				<integer>0</integer>
				<key>Hand</key>
				<integer>0</integer>
				<key>HeadColor</key>
				<string>FFFFFF</string>
				<key>BodyColor</key>
				<string>FFFFFF</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>Turtle</string>
				<key>Weapon</key>
				<integer>1</integer>
				<key>Hand</key>
				<integer>1</integer>
				<key>HeadColor</key>
				<string>FFFFFF</string>
				<key>BodyColor</key>
				<string>FFFFFF</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>Odin</string>
				<key>Weapon</key>
				<integer>2</integer>
				<key>Hand</key>
				<integer>1</integer>
				<key>HeadColor</key>
				<string>FFFFFF</string>
				<key>BodyColor</key>
				<string>FFFFFF</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>Hannibal</string>
				<key>Weapon</key>
				<integer>3</integer>
				<key>Hand</key>
				<integer>1</integer>
				<key>HeadColor</key>
				<string>B48452</string>
				<key>BodyColor</key>
				<string>5D4437</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>Hrothgar</string>
				<key>Weapon</key>
				<integer>4</integer>
				<key>Hand</key>
				<integer>1</integer>
				<key>HeadColor</key>
				<string>FFFFFF</string>
				<key>BodyColor</key>
				<string>FFFFFF</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Templar - Team B</string>
		<key>Group</key>
		<string></string>
		<key>Juggers</key>
		<array>
			<dict>
				<key>Name</key>
				<string>Lunar Fox</string>
				<key>Weapon</key>
				<integer>0</integer>
				<key>Hand</key>
				<integer>0</integer>
				<key>HeadColor</key>
				<string>B48452</string>
				<key>BodyColor</key>
				<string>5D4437</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>Peehs</string>
				<key>Weapon</key>
				<integer>1</integer>
				<key>Hand</key>
				<integer>1</integer>
				<key>HeadColor</key>
				<string>B48452</string>
				<key>BodyColor</key>
				<string>5D4437</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>Jacob</string>
				<key>Weapon</key>
				<integer>2</integer>
				<key>Hand</key>
				<integer>1</integer>
				<key>HeadColor</key>
				<string>B48452</string>
				<key>BodyColor</key>
				<string>5D4437</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>MonkeyMan</string>
				<key>Weapon</key>
				<integer>3</integer>
				<key>Hand</key>
				<integer>1</integer>
				<key>HeadColor</key>
				<string>B48452</string>
				<key>BodyColor</key>
				<string>5D4437</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>Lalailom</string>
				<key>Weapon</key>
				<integer>4</integer>
				<key>Hand</key>
				<integer>1</integer>
				<key>HeadColor</key>
				<string>FFFFFF</string>
				<key>BodyColor</key>
				<string>FFFFFF</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
