<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Playbook</key>
	<array>
		<dict>
			<key>Field</key>
			<string>field.png</string>
			<key>Teams</key>
			<array>
				<dict>
					<key>Name</key>
					<string>Templar - Team A</string>
					<key>Group</key>
					<string></string>
					<key>Juggers</key>
					<array>
						<dict>
							<key>Name</key>
							<string>Jackal</string>
							<key>Weapon</key>
							<integer>0</integer>
							<key>Hand</key>
							<integer>0</integer>
							<key>HeadColor</key>
							<string>FFFFFF</string>
							<key>BodyColor</key>
							<string>FFFFFF</string>
							<key>Logo</key>
							<string>cross</string>
						</dict>
						<dict>
							<key>Name</key>
							<string>Turtle</string>
							<key>Weapon</key>
							<integer>1</integer>
							<key>Hand</key>
							<integer>1</integer>
							<key>HeadColor</key>
							<string>FFFFFF</string>
							<key>BodyColor</key>
							<string>FFFFFF</string>
							<key>Logo</key>
							<string>cross</string>
						</dict>
						<dict>
							<key>Name</key>
							<string>Odin</string>
							<key>Weapon</key>
							<integer>2</integer>
							<key>Hand</key>
							<integer>0</integer>
							<key>HeadColor</key>
							<string>FFFFFF</string>
							<key>BodyColor</key>
							<string>FFFFFF</string>
							<key>Logo</key>
							<string>cross</string>
						</dict>
						<dict>
							<key>Name</key>
							<string>Hannibal</string>
							<key>Weapon</key>
							<integer>3</integer>
							<key>Hand</key>
							<integer>1</integer>
							<key>HeadColor</key>
							<string>B48452</string>
							<key>BodyColor</key>
							<string>5D4437</string>
							<key>Logo</key>
							<string>cross</string>
						</dict>
						<dict>
							<key>Name</key>
							<string>Hrothgar</string>
							<key>Weapon</key>
							<integer>4</integer>
							<key>Hand</key>
							<integer>0</integer>
							<key>HeadColor</key>
							<string>FFFFFF</string>
							<key>BodyColor</key>
							<string>FFFFFF</string>
							<key>Logo</key>
							<string>cross</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>Name</key>
					<string>Templar - Team B</string>
					<key>Group</key>
					<string></string>
					<key>Juggers</key>
					<array>
						<dict>
							<key>Name</key>
							<string>Lunar Fox</string>
							<key>Weapon</key>
							<integer>0</integer>
							<key>Hand</key>
							<integer>0</integer>
							<key>HeadColor</key>
							<string>B48452</string>
							<key>BodyColor</key>
							<string>5D4437</string>
							<key>Logo</key>
							<string>cross</string>
						</dict>
						<dict>
							<key>Name</key>
							<string>Peehs</string>
							<key>Weapon</key>
							<integer>1</integer>
							<key>Hand</key>
							<integer>1</integer>
							<key>HeadColor</key>
							<string>B48452</string>
							<key>BodyColor</key>
							<string>5D4437</string>
							<key>Logo</key>
							<string>cross</string>
						</dict>
						<dict>
							<key>Name</key>
							<string>Jacob</string>
							<key>Weapon</key>
							<integer>2</integer>
							<key>Hand</key>
							<integer>1</integer>
							<key>HeadColor</key>
							<string>B48452</string>
							<key>BodyColor</key>
							<string>5D4437</string>
							<key>Logo</key>
							<string>cross</string>
						</dict>
						<dict>
							<key>Name</key>
							<string>MonkeyMan</string>
							<key>Weapon</key>
							<integer>3</integer>
							<key>Hand</key>
							<integer>1</integer>
							<key>HeadColor</key>
							<string>B48452</string>
							<key>BodyColor</key>
							<string>5D4437</string>
							<key>Logo</key>
							<string>cross</string>
						</dict>
						<dict>
							<key>Name</key>
							<string>Lalailom</string>
							<key>Weapon</key>
							<integer>4</integer>
							<key>Hand</key>
							<integer>1</integer>
							<key>HeadColor</key>
							<string>FFFFFF</string>
							<key>BodyColor</key>
							<string>FFFFFF</string>
							<key>Logo</key>
							<string>cross</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</array>
	<key>Teams</key>
	<array>
		<dict>
			<key>Name</key>
			<string>Templar - Team A</string>
			<key>Group</key>
			<string></string>
			<key>Juggers</key>
			<array>
				<dict>
					<key>Name</key>
					<string>Jackal</string>
					<key>Weapon</key>
					<integer>0</integer>
					<key>Hand</key>
					<integer>0</integer>
					<key>HeadColor</key>
					<string>FFFFFF</string>
					<key>BodyColor</key>
					<string>FFFFFF</string>
					<key>Logo</key>
					<string>cross</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>Turtle</string>
					<key>Weapon</key>
					<integer>1</integer>
					<key>Hand</key>
					<integer>1</integer>
					<key>HeadColor</key>
					<string>FFFFFF</string>
					<key>BodyColor</key>
					<string>FFFFFF</string>
					<key>Logo</key>
					<string>cross</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>Odin</string>
					<key>Weapon</key>
					<integer>2</integer>
					<key>Hand</key>
					<integer>1</integer>
					<key>HeadColor</key>
					<string>FFFFFF</string>
					<key>BodyColor</key>
					<string>FFFFFF</string>
					<key>Logo</key>
					<string>cross</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>Hannibal</string>
					<key>Weapon</key>
					<integer>3</integer>
					<key>Hand</key>
					<integer>1</integer>
					<key>HeadColor</key>
					<string>B48452</string>
					<key>BodyColor</key>
					<string>5D4437</string>
					<key>Logo</key>
					<string>cross</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>Hrothgar</string>
					<key>Weapon</key>
					<integer>4</integer>
					<key>Hand</key>
					<integer>1</integer>
					<key>HeadColor</key>
					<string>FFFFFF</string>
					<key>BodyColor</key>
					<string>FFFFFF</string>
					<key>Logo</key>
					<string>cross</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>Templar - Team B</string>
			<key>Group</key>
			<string></string>
			<key>Juggers</key>
			<array>
				<dict>
					<key>Name</key>
					<string>Lunar Fox</string>
					<key>Weapon</key>
					<integer>0</integer>
					<key>Hand</key>
					<integer>0</integer>
					<key>HeadColor</key>
					<string>B48452</string>
					<key>BodyColor</key>
					<string>5D4437</string>
					<key>Logo</key>
					<string>cross</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>Peehs</string>
					<key>Weapon</key>
					<integer>1</integer>
					<key>Hand</key>
					<integer>1</integer>
					<key>HeadColor</key>
					<string>B48452</string>
					<key>BodyColor</key>
					<string>5D4437</string>
					<key>Logo</key>
					<string>cross</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>Jacob</string>
					<key>Weapon</key>
					<integer>2</integer>
					<key>Hand</key>
					<integer>1</integer>
					<key>HeadColor</key>
					<string>B48452</string>
					<key>BodyColor</key>
					<string>5D4437</string>
					<key>Logo</key>
					<string>cross</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>MonkeyMan</string>
					<key>Weapon</key>
					<integer>3</integer>
					<key>Hand</key>
					<integer>1</integer>
					<key>HeadColor</key>
					<string>B48452</string>
					<key>BodyColor</key>
					<string>5D4437</string>
					<key>Logo</key>
					<string>cross</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>Lalailom</string>
					<key>Weapon</key>
					<integer>4</integer>
					<key>Hand</key>
					<integer>1</integer>
					<key>HeadColor</key>
					<string>FFFFFF</string>
					<key>BodyColor</key>
					<string>FFFFFF</string>
					<key>Logo</key>
					<string>cross</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>Settings</key>
	<dict>
		<key>Fields</key>
		<array>
			<dict>
				<key>Field</key>
				<string>field.png</string>
				<key>Name</key>
				<string>Amtgard Jugging</string>
				<key>Teams</key>
				<array>
					<dict>
						<key>Name</key>
						<string>Templar - Team A</string>
						<key>Group</key>
						<string></string>
						<key>Juggers</key>
						<array>
							<dict>
								<key>Name</key>
								<string>Jackal</string>
								<key>Weapon</key>
								<integer>0</integer>
								<key>Hand</key>
								<integer>0</integer>
								<key>HeadColor</key>
								<string>FFFFFF</string>
								<key>BodyColor</key>
								<string>FFFFFF</string>
								<key>Logo</key>
								<string>cross</string>
								<key>CenterPercent</key>
								<string>{0.5938,0.4873}</string>
							</dict>
							<dict>
								<key>Name</key>
								<string>Turtle</string>
								<key>Weapon</key>
								<integer>1</integer>
								<key>Hand</key>
								<integer>1</integer>
								<key>HeadColor</key>
								<string>FFFFFF</string>
								<key>BodyColor</key>
								<string>FFFFFF</string>
								<key>Logo</key>
								<string>cross</string>
								<key>CenterPercent</key>
								<string>{0.7422,0.4873}</string>
							</dict>
							<dict>
								<key>Name</key>
								<string>Odin</string>
								<key>Weapon</key>
								<integer>2</integer>
								<key>Hand</key>
								<integer>0</integer>
								<key>HeadColor</key>
								<string>FFFFFF</string>
								<key>BodyColor</key>
								<string>FFFFFF</string>
								<key>Logo</key>
								<string>cross</string>
								<key>CenterPercent</key>
								<string>{0.7422,0.2145}</string>
							</dict>
							<dict>
								<key>Name</key>
								<string>Hannibal</string>
								<key>Weapon</key>
								<integer>3</integer>
								<key>Hand</key>
								<integer>1</integer>
								<key>HeadColor</key>
								<string>B48452</string>
								<key>BodyColor</key>
								<string>5D4437</string>
								<key>Logo</key>
								<string>cross</string>
								<key>CenterPercent</key>
								<string>{0.7422,0.7673}</string>
							</dict>
							<dict>
								<key>Name</key>
								<string>Hrothgar</string>
								<key>Weapon</key>
								<integer>4</integer>
								<key>Hand</key>
								<integer>0</integer>
								<key>HeadColor</key>
								<string>FFFFFF</string>
								<key>BodyColor</key>
								<string>FFFFFF</string>
								<key>Logo</key>
								<string>cross</string>
								<key>CenterPercent</key>
								<string>{0.8906,0.4873}</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>Name</key>
						<string>Templar - Team B</string>
						<key>Group</key>
						<string></string>
						<key>Juggers</key>
						<array>
							<dict>
								<key>Name</key>
								<string>Lunar Fox</string>
								<key>Weapon</key>
								<integer>0</integer>
								<key>Hand</key>
								<integer>0</integer>
								<key>HeadColor</key>
								<string>B48452</string>
								<key>BodyColor</key>
								<string>5D4437</string>
								<key>Logo</key>
								<string>cross</string>
								<key>CenterPercent</key>
								<string>{0.4063,0.4873}</string>
							</dict>
							<dict>
								<key>Name</key>
								<string>Peehs</string>
								<key>Weapon</key>
								<integer>1</integer>
								<key>Hand</key>
								<integer>1</integer>
								<key>HeadColor</key>
								<string>B48452</string>
								<key>BodyColor</key>
								<string>5D4437</string>
								<key>Logo</key>
								<string>cross</string>
								<key>CenterPercent</key>
								<string>{0.2578,0.4873}</string>
							</dict>
							<dict>
								<key>Name</key>
								<string>Jacob</string>
								<key>Weapon</key>
								<integer>2</integer>
								<key>Hand</key>
								<integer>1</integer>
								<key>HeadColor</key>
								<string>B48452</string>
								<key>BodyColor</key>
								<string>5D4437</string>
								<key>Logo</key>
								<string>cross</string>
								<key>CenterPercent</key>
								<string>{0.2578,0.7673}</string>
							</dict>
							<dict>
								<key>Name</key>
								<string>MonkeyMan</string>
								<key>Weapon</key>
								<integer>3</integer>
								<key>Hand</key>
								<integer>1</integer>
								<key>HeadColor</key>
								<string>B48452</string>
								<key>BodyColor</key>
								<string>5D4437</string>
								<key>Logo</key>
								<string>cross</string>
								<key>CenterPercent</key>
								<string>{0.2578,0.2145}</string>
							</dict>
							<dict>
								<key>Name</key>
								<string>Lalailom</string>
								<key>Weapon</key>
								<integer>4</integer>
								<key>Hand</key>
								<integer>1</integer>
								<key>HeadColor</key>
								<string>FFFFFF</string>
								<key>BodyColor</key>
								<string>FFFFFF</string>
								<key>Logo</key>
								<string>cross</string>
								<key>CenterPercent</key>
								<string>{0.1094,0.4873}</string>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Field</key>
				<string>fieldwithmarkups.png</string>
				<key>Name</key>
				<string>Amtgard Jugging (Markup)</string>
				<key>Teams</key>
				<array>
					<dict>
						<key>Name</key>
						<string>Templar - Team A</string>
						<key>Group</key>
						<string></string>
						<key>Juggers</key>
						<array>
							<dict>
								<key>Name</key>
								<string>Jackal</string>
								<key>Weapon</key>
								<integer>0</integer>
								<key>Hand</key>
								<integer>0</integer>
								<key>HeadColor</key>
								<string>FFFFFF</string>
								<key>BodyColor</key>
								<string>FFFFFF</string>
								<key>Logo</key>
								<string>cross</string>
								<key>CenterPercent</key>
								<string>{0.5938,0.4873}</string>
							</dict>
							<dict>
								<key>Name</key>
								<string>Turtle</string>
								<key>Weapon</key>
								<integer>1</integer>
								<key>Hand</key>
								<integer>1</integer>
								<key>HeadColor</key>
								<string>FFFFFF</string>
								<key>BodyColor</key>
								<string>FFFFFF</string>
								<key>Logo</key>
								<string>cross</string>
								<key>CenterPercent</key>
								<string>{0.7422,0.4873}</string>
							</dict>
							<dict>
								<key>Name</key>
								<string>Odin</string>
								<key>Weapon</key>
								<integer>2</integer>
								<key>Hand</key>
								<integer>1</integer>
								<key>HeadColor</key>
								<string>FFFFFF</string>
								<key>BodyColor</key>
								<string>FFFFFF</string>
								<key>Logo</key>
								<string>cross</string>
								<key>CenterPercent</key>
								<string>{0.7422,0.2145}</string>
							</dict>
							<dict>
								<key>Name</key>
								<string>Hannibal</string>
								<key>Weapon</key>
								<integer>3</integer>
								<key>Hand</key>
								<integer>1</integer>
								<key>HeadColor</key>
								<string>B48452</string>
								<key>BodyColor</key>
								<string>5D4437</string>
								<key>Logo</key>
								<string>cross</string>
								<key>CenterPercent</key>
								<string>{0.7422,0.7673}</string>
							</dict>
							<dict>
								<key>Name</key>
								<string>Hrothgar</string>
								<key>Weapon</key>
								<integer>4</integer>
								<key>Hand</key>
								<integer>1</integer>
								<key>HeadColor</key>
								<string>FFFFFF</string>
								<key>BodyColor</key>
								<string>FFFFFF</string>
								<key>Logo</key>
								<string>cross</string>
								<key>CenterPercent</key>
								<string>{0.8906,0.4873}</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>Name</key>
						<string>Templar - Team B</string>
						<key>Group</key>
						<string></string>
						<key>Juggers</key>
						<array>
							<dict>
								<key>Name</key>
								<string>Lunar Fox</string>
								<key>Weapon</key>
								<integer>0</integer>
								<key>Hand</key>
								<integer>0</integer>
								<key>HeadColor</key>
								<string>B48452</string>
								<key>BodyColor</key>
								<string>5D4437</string>
								<key>Logo</key>
								<string>cross</string>
								<key>CenterPercent</key>
								<string>{0.4063,0.4873}</string>
							</dict>
							<dict>
								<key>Name</key>
								<string>Peehs</string>
								<key>Weapon</key>
								<integer>1</integer>
								<key>Hand</key>
								<integer>1</integer>
								<key>HeadColor</key>
								<string>B48452</string>
								<key>BodyColor</key>
								<string>5D4437</string>
								<key>Logo</key>
								<string>cross</string>
								<key>CenterPercent</key>
								<string>{0.2578,0.4873}</string>
							</dict>
							<dict>
								<key>Name</key>
								<string>Jacob</string>
								<key>Weapon</key>
								<integer>2</integer>
								<key>Hand</key>
								<integer>1</integer>
								<key>HeadColor</key>
								<string>B48452</string>
								<key>BodyColor</key>
								<string>5D4437</string>
								<key>Logo</key>
								<string>cross</string>
								<key>CenterPercent</key>
								<string>{0.2578,0.7673}</string>
							</dict>
							<dict>
								<key>Name</key>
								<string>MonkeyMan</string>
								<key>Weapon</key>
								<integer>3</integer>
								<key>Hand</key>
								<integer>1</integer>
								<key>HeadColor</key>
								<string>B48452</string>
								<key>BodyColor</key>
								<string>5D4437</string>
								<key>Logo</key>
								<string>cross</string>
								<key>CenterPercent</key>
								<string>{0.2578,0.2145}</string>
							</dict>
							<dict>
								<key>Name</key>
								<string>Lalailom</string>
								<key>Weapon</key>
								<integer>4</integer>
								<key>Hand</key>
								<integer>1</integer>
								<key>HeadColor</key>
								<string>FFFFFF</string>
								<key>BodyColor</key>
								<string>FFFFFF</string>
								<key>Logo</key>
								<string>cross</string>
								<key>CenterPercent</key>
								<string>{0.1094,0.4873}</string>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Field</key>
				<string>ditch.png</string>
				<key>Name</key>
				<string>Amtgard Ditching</string>
				<key>Teams</key>
				<array>
					<dict>
						<key>Name</key>
						<string>Templar - Team A</string>
						<key>Group</key>
						<string></string>
						<key>Juggers</key>
						<array>
							<dict>
								<key>Name</key>
								<string>Jackal</string>
								<key>Weapon</key>
								<integer>0</integer>
								<key>Hand</key>
								<integer>0</integer>
								<key>HeadColor</key>
								<string>FFFFFF</string>
								<key>BodyColor</key>
								<string>FFFFFF</string>
								<key>Logo</key>
								<string>cross</string>
								<key>CenterPercent</key>
								<string>{0.5938,0.4873}</string>
							</dict>
							<dict>
								<key>Name</key>
								<string>Turtle</string>
								<key>Weapon</key>
								<integer>1</integer>
								<key>Hand</key>
								<integer>1</integer>
								<key>HeadColor</key>
								<string>FFFFFF</string>
								<key>BodyColor</key>
								<string>FFFFFF</string>
								<key>Logo</key>
								<string>cross</string>
								<key>CenterPercent</key>
								<string>{0.7422,0.4873}</string>
							</dict>
							<dict>
								<key>Name</key>
								<string>Odin</string>
								<key>Weapon</key>
								<integer>2</integer>
								<key>Hand</key>
								<integer>1</integer>
								<key>HeadColor</key>
								<string>FFFFFF</string>
								<key>BodyColor</key>
								<string>FFFFFF</string>
								<key>Logo</key>
								<string>cross</string>
								<key>CenterPercent</key>
								<string>{0.7422,0.2145}</string>
							</dict>
							<dict>
								<key>Name</key>
								<string>Hannibal</string>
								<key>Weapon</key>
								<integer>3</integer>
								<key>Hand</key>
								<integer>1</integer>
								<key>HeadColor</key>
								<string>B48452</string>
								<key>BodyColor</key>
								<string>5D4437</string>
								<key>Logo</key>
								<string>cross</string>
								<key>CenterPercent</key>
								<string>{0.7422,0.7673}</string>
							</dict>
							<dict>
								<key>Name</key>
								<string>Hrothgar</string>
								<key>Weapon</key>
								<integer>4</integer>
								<key>Hand</key>
								<integer>1</integer>
								<key>HeadColor</key>
								<string>FFFFFF</string>
								<key>BodyColor</key>
								<string>FFFFFF</string>
								<key>Logo</key>
								<string>cross</string>
								<key>CenterPercent</key>
								<string>{0.8906,0.4873}</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>Name</key>
						<string>Templar - Team B</string>
						<key>Group</key>
						<string></string>
						<key>Juggers</key>
						<array>
							<dict>
								<key>Name</key>
								<string>Lunar Fox</string>
								<key>Weapon</key>
								<integer>0</integer>
								<key>Hand</key>
								<integer>0</integer>
								<key>HeadColor</key>
								<string>B48452</string>
								<key>BodyColor</key>
								<string>5D4437</string>
								<key>Logo</key>
								<string>cross</string>
								<key>CenterPercent</key>
								<string>{0.4063,0.4873}</string>
							</dict>
							<dict>
								<key>Name</key>
								<string>Peehs</string>
								<key>Weapon</key>
								<integer>1</integer>
								<key>Hand</key>
								<integer>1</integer>
								<key>HeadColor</key>
								<string>B48452</string>
								<key>BodyColor</key>
								<string>5D4437</string>
								<key>Logo</key>
								<string>cross</string>
								<key>CenterPercent</key>
								<string>{0.2578,0.4873}</string>
							</dict>
							<dict>
								<key>Name</key>
								<string>Jacob</string>
								<key>Weapon</key>
								<integer>2</integer>
								<key>Hand</key>
								<integer>1</integer>
								<key>HeadColor</key>
								<string>B48452</string>
								<key>BodyColor</key>
								<string>5D4437</string>
								<key>Logo</key>
								<string>cross</string>
								<key>CenterPercent</key>
								<string>{0.2578,0.7673}</string>
							</dict>
							<dict>
								<key>Name</key>
								<string>MonkeyMan</string>
								<key>Weapon</key>
								<integer>3</integer>
								<key>Hand</key>
								<integer>1</integer>
								<key>HeadColor</key>
								<string>B48452</string>
								<key>BodyColor</key>
								<string>5D4437</string>
								<key>Logo</key>
								<string>cross</string>
								<key>CenterPercent</key>
								<string>{0.2578,0.2145}</string>
							</dict>
							<dict>
								<key>Name</key>
								<string>Lalailom</string>
								<key>Weapon</key>
								<integer>4</integer>
								<key>Hand</key>
								<integer>1</integer>
								<key>HeadColor</key>
								<string>FFFFFF</string>
								<key>BodyColor</key>
								<string>FFFFFF</string>
								<key>Logo</key>
								<string>cross</string>
								<key>CenterPercent</key>
								<string>{0.1094,0.4873}</string>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Field</key>
				<string>ditchwithmarkups.png</string>
				<key>Name</key>
				<string>Amtgard Ditching (Markup)</string>
				<key>Teams</key>
				<array>
					<dict>
						<key>Name</key>
						<string>Templar - Team A</string>
						<key>Group</key>
						<string></string>
						<key>Juggers</key>
						<array>
							<dict>
								<key>Name</key>
								<string>Jackal</string>
								<key>Weapon</key>
								<integer>0</integer>
								<key>Hand</key>
								<integer>0</integer>
								<key>HeadColor</key>
								<string>FFFFFF</string>
								<key>BodyColor</key>
								<string>FFFFFF</string>
								<key>Logo</key>
								<string>cross</string>
								<key>CenterPercent</key>
								<string>{0.5938,0.4873}</string>
							</dict>
							<dict>
								<key>Name</key>
								<string>Turtle</string>
								<key>Weapon</key>
								<integer>1</integer>
								<key>Hand</key>
								<integer>1</integer>
								<key>HeadColor</key>
								<string>FFFFFF</string>
								<key>BodyColor</key>
								<string>FFFFFF</string>
								<key>Logo</key>
								<string>cross</string>
								<key>CenterPercent</key>
								<string>{0.7422,0.4873}</string>
							</dict>
							<dict>
								<key>Name</key>
								<string>Odin</string>
								<key>Weapon</key>
								<integer>2</integer>
								<key>Hand</key>
								<integer>1</integer>
								<key>HeadColor</key>
								<string>FFFFFF</string>
								<key>BodyColor</key>
								<string>FFFFFF</string>
								<key>Logo</key>
								<string>cross</string>
								<key>CenterPercent</key>
								<string>{0.7422,0.2145}</string>
							</dict>
							<dict>
								<key>Name</key>
								<string>Hannibal</string>
								<key>Weapon</key>
								<integer>3</integer>
								<key>Hand</key>
								<integer>1</integer>
								<key>HeadColor</key>
								<string>B48452</string>
								<key>BodyColor</key>
								<string>5D4437</string>
								<key>Logo</key>
								<string>cross</string>
								<key>CenterPercent</key>
								<string>{0.7422,0.7673}</string>
							</dict>
							<dict>
								<key>Name</key>
								<string>Hrothgar</string>
								<key>Weapon</key>
								<integer>4</integer>
								<key>Hand</key>
								<integer>1</integer>
								<key>HeadColor</key>
								<string>FFFFFF</string>
								<key>BodyColor</key>
								<string>FFFFFF</string>
								<key>Logo</key>
								<string>cross</string>
								<key>CenterPercent</key>
								<string>{0.8906,0.4873}</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>Name</key>
						<string>Templar - Team B</string>
						<key>Group</key>
						<string></string>
						<key>Juggers</key>
						<array>
							<dict>
								<key>Name</key>
								<string>Lunar Fox</string>
								<key>Weapon</key>
								<integer>0</integer>
								<key>Hand</key>
								<integer>0</integer>
								<key>HeadColor</key>
								<string>B48452</string>
								<key>BodyColor</key>
								<string>5D4437</string>
								<key>Logo</key>
								<string>cross</string>
								<key>CenterPercent</key>
								<string>{0.4063,0.4873}</string>
							</dict>
							<dict>
								<key>Name</key>
								<string>Peehs</string>
								<key>Weapon</key>
								<integer>1</integer>
								<key>Hand</key>
								<integer>1</integer>
								<key>HeadColor</key>
								<string>B48452</string>
								<key>BodyColor</key>
								<string>5D4437</string>
								<key>Logo</key>
								<string>cross</string>
								<key>CenterPercent</key>
								<string>{0.2578,0.4873}</string>
							</dict>
							<dict>
								<key>Name</key>
								<string>Jacob</string>
								<key>Weapon</key>
								<integer>2</integer>
								<key>Hand</key>
								<integer>1</integer>
								<key>HeadColor</key>
								<string>B48452</string>
								<key>BodyColor</key>
								<string>5D4437</string>
								<key>Logo</key>
								<string>cross</string>
								<key>CenterPercent</key>
								<string>{0.2578,0.7673}</string>
							</dict>
							<dict>
								<key>Name</key>
								<string>MonkeyMan</string>
								<key>Weapon</key>
								<integer>3</integer>
								<key>Hand</key>
								<integer>1</integer>
								<key>HeadColor</key>
								<string>B48452</string>
								<key>BodyColor</key>
								<string>5D4437</string>
								<key>Logo</key>
								<string>cross</string>
								<key>CenterPercent</key>
								<string>{0.2578,0.2145}</string>
							</dict>
							<dict>
								<key>Name</key>
								<string>Lalailom</string>
								<key>Weapon</key>
								<integer>4</integer>
								<key>Hand</key>
								<integer>1</integer>
								<key>HeadColor</key>
								<string>FFFFFF</string>
								<key>BodyColor</key>
								<string>FFFFFF</string>
								<key>Logo</key>
								<string>cross</string>
								<key>CenterPercent</key>
								<string>{0.1094,0.4873}</string>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</dict>
</plist>
